doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Chat
    body 
        header
            h1 Tiny Human
        main 
            h2 Welcome to tiny-human
        